body{
    background-color: rgb(196, 255, 235);
    font-family: Arial, Helvetica, sans-serif;
}
span{
    background-color: chartreuse;
    font-size: large;
    font-weight: 600;
} 

ul{
    display: flex;
    flex-direction: row;
}
li {
    list-style-type: none;
    margin: 1em;
    padding: 1em;
}
navbar {

}